<body>
  <div class="container">
    <h2>User info</h2>
    <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <p class="error"><%= @user.errors.count %>errors prohibited this book from being saved:</p>
        <% @user.errors.full_messages.each do |msg| %>
        <p class="error"><%= msg %></p>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= form_for (@user) do |f| %>
      <%= f.label :user_name, "Name"%>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <div class="form-group has-icon">
        <div class="user-edit-image">
          <%= f.label :user_image, "Image"%>
        </div>
        <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :user_introduction, "Introduction" %>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit "Update User", class: "btn btn-update" %>
    <% end %>
  </div>
</body>