<body>
  <div class="container">
    <div class="row">
      <div class="center-block" style="width: 50%">
        <h1>Editing Book</h1>
        <%= form_for(@book, url: book_path(@book.id)) do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title,class:"col-xs-12" %>
        <h5>Opinion</h5>
        <%= f.text_area :body,class:"col-xs-12" %>
        <nav>
          <%= f.submit 'Update Book',class: "col-xs-12 btn btn-primary" %>
        </nav>
        　<% end %>
        <%= link_to "show",book_path(@book.id)%>
        <%= link_to "Back",books_path %>
      </div>
    </div>
  </div>
</body>